.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

table {
  border-collapse: collapse;
  margin: 1em;
}
td {
  border: 1px solid black;
  height: 1em;
  width: 1em;
}

.blue {
  background-color: blue;
}

/* Color Pallete */
.palette {
  padding: 2px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border: 1px solid black;
}
.palette.name {
  text-align: center;
}

.current-color {
  height: 2em;
  width: 2em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 25px;
}
.redSwatch {
  flex-grow: 1;
  background: red;
  height: 2em;
  width: 2em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 25px;
}

.green-swatch {
  flex-grow: 1;
  background: green;
  height: 2em;
  width: 2em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 25px;
}

.blue-swatch {
  flex-grow: 1;
  background: blue;
  height: 2em;
  width: 2em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 25px;
}

.orange-swatch {
  flex-grow: 1;
  background: orange;
  height: 2em;
  width: 2em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 25px;
}

.yellow-swatch {
  flex-grow: 1;
  background: yellow;
  height: 2em;
  width: 2em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 25px;
}

.purple-swatch {
  flex-grow: 1;
  background: purple;
  height: 2em;
  width: 2em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 25px;
}

.brown-swatch {
  flex-grow: 1;
  background: brown;
  height: 2em;
  width: 2em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 25px;
}

.gray-swatch {
  flex-grow: 1;
  background: gray;
  height: 2em;
  width: 2em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 25px;
}

.black-swatch {
  flex-grow: 1;
  background: black;
  height: 2em;
  width: 2em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 25px;
}

.white-swatch {
  flex-grow: 1;
  background: white;
  height: 2em;
  width: 2em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 25px;
}
/* red, orange, yellow, green, blue, purple, brown, gray, black, white */
